$container-height: 94vw;

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .three-container {
    width: 100vw;
    height: $container-height;

    padding: 16px 16px 0 16px;

    #three {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .footer {
    height: 100vw - $container-height;
    display: flex;
    align-items: center;
  }
}
